{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Api links</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'icon/cars.ico' %}">
    </head>
    <body>
        <div class="container-api">
        <div class="links-api-get">
        <div class="cars-films">
        <h1>Carsfilm api</h1>
        <a href="carsfilms/">carsfilms/</a>
        </div>
        <div class="cars-personage">
        <h1>carspersonages api</h1>
        <a href="carspersonages/">carspersonages/</a>
        </div>
        <div class="carssamenvating">
            <h1>carssamenvating api</h1>
            <a href="carssamenvating/">carssamenvating/</a>
        </div>
        <div class="muziek">
        <h1>Cars muziek api</h1>
        <a href="muziek/">muziek/</a>
        </div>
        <div class="muziekafbeelding">
        <h1>cars muziekafbeelding api</h1>
        <a href="muziekafbeelding/">muziekafbeelding/</a>
        </div>
        <div class="game">
        <h1>cars game</h1>
        <a href="game/">game/</a>
        </div>
    </div>
</div>
    <!-- 
        <div class="links-api-else">
        <a href="carsfilms/1/">carsfilms/id/</a>
        <a href="carspersonages/1/">carspersonages/id/</a>
        <a href="carssamenvating/1/">carssamenvating/id/</a>
        <a href="reviewsfilms/1/">reviewsfilms/id/</a>
        <a href="muziek/1/">muziek/id/</a>
        <a href="muziekafbeelding/1/">muziekafbeelding/id/</a>
        <a href="game/1/">game/id/</a>
    </div> 
    -->
    </body>
</html>