{% extends 'base.html' %}
{% load static %}
{% block main %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<div class="container-page">
    <div class="midden-container">
            <div class="carsfilms">
            <h1>CarsfilmsApi</h1>
            <a href="carsfilms/">https://cars-api-production.up.railway.app/api/Carsfilms/</a>
        </div>
        <div class="carspersonages">
            <h1>carspersonagesApi</h1>
            <a href="carspersonages/">https://cars-api-production.up.railway.app/api/carspersonages/</a>
        </div>
        <div class="carssamenvating">
            <h1>carssamenvatingApi</h1>
            <a href="carssamenvating/">https://cars-api-production.up.railway.app/api/carssamenvating/</a>
        </div>
        <div class="muziek">
            <h1>muziekApi</h1>
            <a href="muziek/">https://cars-api-production.up.railway.app/api/muziek/</a>
        </div>
        <div class="game">
            <h1>gameApi</h1>
            <a href="game/">https://cars-api-production.up.railway.app/api/game/</a>
        </div>
    </div>
</div>
{% endblock %}
